body {
  background-color: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fab {
  border-radius: 100%;
  font-size: 35px;
  bottom: 15px;
  position: fixed;
  right: 20px;
}